/* Color scheme Red
----------------------------------------------- */
body .site-title a,
body .sidebar-widget a {
  color: #ee5a56;         
}
body .social-icon,
body input[type="submit"],
body input[type="reset"],
body .header-image .header-image-text .header-image-link,
body #searchform .searchform-wrapper .send {
  background-color: #ee5a56;                  
}
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body .header-image .header-image-text .header-image-link:hover,
body #searchform .send:hover {
  background-color: #d1322e;                                                                          
}
body a,
body .post-entry .post-entry-headline a {
  color: #e84743;       
}
body .header-description-wrapper,
body .content-headline-wrapper,
body .top-navigation ul a:hover,
body .top-navigation ul :hover > a {
  background-color: #ffe6e6;                          
}
body .menu-box ul ul,
body .top-navigation ul ul {
  border-color: #ce514e;                     
}
body .menu-box a:hover,
body .menu-box :hover > a,
body #wrapper-header .menu-box .current-menu-item > a,
body #wrapper-header .menu-box .current-menu-ancestor > a,
body #wrapper-header .menu-box .current_page_item > a,
body #wrapper-header .menu-box .current-page-ancestor > a {
  color: #ce514e;                     
}
body #footer a,
body .footer-signature .footer-signature-content a {
  color: #ffc0be;          
}  