/*** Kirki - Custom Styles ***/
.customize-control-kirki-toggle .switch {
    margin-top: 5px !important;
}
.customize-control-kirki .description {
    font-style: normal !important;
    font-size: 13px !important;
    font-weight: normal !important;
}

.customize-control-kirki-radio label .option-description {
    color: #999 !important;
    font-size: 12px !important;
    font-style:italic !important;
}

#accordion-section-kale_section_theme_info .accordion-section-title{background-color:#BEA5D0; color:#fff}
#accordion-section-kale_section_theme_info .customize-control-description a{color:#6f26ac; text-decoration:underline;}
#accordion-section-kale_section_theme_info .customize-control-description .button{background-color:#BEA5D0; color:#fff; text-decoration:none;}