/* Slider */
.slick-slider{ position:relative;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent; }

.slick-list{ position:relative;display:block;overflow:hidden;margin:0;padding:0; }
.slick-list:focus{ outline:none; }
.slick-list.dragging{ cursor:pointer;cursor:hand; }

.slick-slider .slick-track,
.slick-slider .slick-list{ -webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0);transform:translate3d(0,0,0); }

.slick-track{ position:relative;top:0;left:0;display:block; }
.slick-track:before,
.slick-track:after{ display:table;content:''; }
.slick-track:after{ clear:both; }
.slick-loading .slick-track{ visibility:hidden; }

.slick-slide{ display:none;float:left;height:100%;min-height:1px; }
.slick-slide:focus{ outline:none }
[dir='rtl'] .slick-slide{ float:right; }
.slick-slide img{ display:block;max-width:100%;height:auto;outline:none }
.slick-slide.slick-loading img{ display:none; }
.slick-slide.dragging img{ pointer-events:none;outline:none }

.slick-initialized .slick-slide{ display:block; }
.slick-loading .slick-slide{ visibility:hidden; }
.slick-vertical .slick-slide{ display:block;height:auto;border:1px solid transparent; }
.slick-arrow.slick-hidden { display:none; }

/* Slider */
.slick-loading .slick-list{background: #fff url('../img/ajax-loader.gif') center center no-repeat;}

/* Arrows */
.slick-prev,
.slick-next{border:0;background-color:transparent;color:#000000;position:absolute;top:50%;margin-top:-20px;z-index:10;font-size:22px;height:36px;line-height:36px;}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{outline:none}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{}
.slick-prev{left:20px}
.slick-next{right:20px}

/* Dots */
.slick-dots{list-style:none;margin:0;padding:0;position:absolute;left:0;width:100%;bottom:20px;text-align:center;}
.slick-dots li{display:inline-block;padding:0 3px}
.slick-dots li button{width:12px;padding:0;text-indent:-9999px;overflow:hidden;height:12px;border:2px solid #fff;background-color:transparent;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button{background-color:#fff;outline:none}

/* Caption */
.slick-slide{position:relative}
.slick-slide.slick-active:before{opacity:0.1;filter:alpha(opacity=10)}